<!DOCTYPE html>
<html>
<head>
    <title>調整さんリマインダBOT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=0">
</head>
<body>
    <h1>調整さんリマインダBOTの使いかた</h1>

    <h2>1.BOTと友だち登録する</h2>
    <div>
        <ol>
            <li><a href="/img/linebot_qr.png"/>LINE BOTのQRコード</a>を開き、表示されるQRコードを保存します</li>
            <li>LINEアプリを起動し、[友だち追加]->[QRコード]->[ライブラリ]->保存したQRコードを選択します</li>
            <li>友だち->公式アカウントの下にBOTが増えているはずです（見つからなければ管理者に連絡してください）</li>
        </ol>
        これで、開催3日前の朝8:00に、BOTから参加人数などが通知されるようになります。
    </div>

    <h2>2.トークでコマンドを送る</h2>
    <div>
        トークで特定の文字列をコマンドとして送信することで、BOTを操作することができます。
        <ul>
            <li>準備中</li>
        </ul>
    </div>

    <h2>その他</h2>
    <div>
        <ul>
            <li><a href="https://chouseisan.com/s?h={{.Hash}}">出欠表を見る（調整さんへ）</a></li>
        </ul>
    </div>
</body>
</html>
