<!DOCTYPE html>
<html>
<head>
    <title>調整さんリマインダBOT（グループ対応）</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=0">
</head>
<body>
    <h1>調整さんリマインダBOTの使いかた</h1>

    <h2>1. BOTをグループ/トークルームに招待する</h2>
    <div>
        <ol>
            <li>スマートフォンでLINEアプリを起動し、[友だち追加]->[QRコード]で、QRコードリーダー（カメラ）を起動します</li>
            <li><a href="/img/linebot_qr.png"/>LINE BOTのQRコード</a>を開き、表示されるQRコードをQRコードリーダーで取り込みます</li>
            <li>友だちを追加する画面になりますので、［追加］ボタンをタップ。これで、友だち->公式アカウントの下にBOTが増えているはずです（見つからなければ管理者に連絡してください）</li>
            <li>リマインダを使いたいグループ/トークルームでメニューを開き、［招待］->先に友だち登録したBotを招待します</li>
            <li>グループに招待できたら、BOTはブロック（友だち解除）して構いません</li>
        </ol>
    </div>

    <h2>2. リマインドする調整さんイベントを設定する</h2>
    <div>
        <ol>
            <li>グループトークで、<code>/set chouseisan URL</code>と入力します。<code>URL</code>の部分には、リマインドしてほしい調整さんイベントのURLを指定してください。</li>
            <li>BOTから「リマインドする調整さんイベントを設定しました」というメッセージが返ってきたら成功です。これで、開催3日前および当日の朝8:00に、BOTから参加人数などが通知されるようになります。</li>
        </ol>
    </div>

    <h2>3. その他のコマンド</h2>
    <div>
        <ul>
            <li><code>/set name 表示名</code> グループの表示名を設定できます。1:1で友だち登録した場合には、ユーザ名がすでに設定されています</li>
            <li><code>/version</code> BOTのバージョン番号を表示します</li>
        </ul>
    </div>

    <h2>4. その他の操作、問題</h2>
    <div>
        <ul>
            <li>リマインダを解除するには、BOTをグループ/トークルームから「削除」してください</li>
            <li>何か問題を発見したら、操作した時刻を添えて管理者まで連絡してください</li>
        </ul>
    </div>

    <hr>
    <div>App version: {{.Version}}</div>
</body>
</html>
